/* write your override styles here */
#wall .tag-1, .parent{
    display: none;
}

.slick{
    display: none;
}

#wall * {
    display: none;
}

#wall > {
    display: none;
}

.parent > div{
    display: none;
}

.parent ~ {
    display: none;
}

.parent * {
    display: none;
}

body *{
    display: none;
}